---
layout: map
title: Planning Districts
permalink: /planning-districts/
---

<div class="row">
  <div id="map-wrapper">
    <div id="map" class=""></div>
  
  <div id="district-info" class="ptm">
    {% assign categories = site.data.planning_district | group_by: 'Category' %}
    {% assign labels = site.data.planning_district_labels %}

    <!-- Dropdown to select district-->
    <div id="district-selector">
      <label for="select"><p>Choose a district</p></label>
      <select id="planning-district">
        <optgroup label="Planning Districts">
          {% for label in labels %}
            <option>{{ label }}</option>
          {% endfor %}
        </optgroup>
      </select>
    </div>
    
    <!-- Loop over indicators, group by category and display cards-->
    <div id="indicators" class="row">
      <div class="">
          {% for category in categories %}
          <h1 id="{{ category.name | slugify }}" class="contrast category-section">{{ category.name }}
            <a href="#{{ category.name | slugify }}" class="header-link"><i class="fa fa-link"></i></a></h1>
            
            <div class="cards-category">
              {% for row in category.items %}
                <div class="card card-category">
                  <div class="content-block">
                    <h1 class="indicator-value" id="value-{{ row.Indicator | slugify }}">
                      {% if row.dataType == 'Percentage' %}
                        {{ row.Citywide | times:100 }}%
                      {% else %}
                        {{ row.Citywide }}
                      {% endif %}
                    </h1>
                    <h4 class="h2">{{ row.Indicator }}</h4><br>
<!--                    {% if row.description %}<p aria-haspopup="true" class="has-tip" title="{{ row.description }}">More</p>{% endif %}-->
                    {% if row.description %}<p>{{ row.description }}</p>{% endif %}
                    {% if row.chartComment %}<p>{{ row.chartComment }}</p>{% endif %}
                    {% if row.dataSource %}<p class="source"><strong>Source: </strong><br>
                      {{ row.dataSource }} | {{ row.dataSourceYear }}</p>
                    {% endif %}
                    {% if row.dateUpdated %}
                      <p class="updated"><strong>Data Updated:</strong><br>
                        {{ row.dateUpdated }}</p>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>  
          {% endfor %}
      </div>
      
      
      
      
      
<!--

<ul class="menu vertical nested">
{% for row in category.items %}
<li id="{{ row.Indicator | slugify }}" class="chart-section">
<p>{{ row.Indicator }}</p>
<span class="indicator-value" id="value-{{ row.Indicator | slugify }}"><h3 class="ben-franklin-blue">{{ row.Citywide }}</h3></span>
</li>
{% endfor %}
</ul>
      
      <div class="medium-18 columns">
        <div class="tabs-content vertical" data-tabs-content="indicators-tabs">
          {% for category in categories %}
            <div class="tabs-panel{% if forloop.first %} is-active{% endif %}" id="{{ category.name | slugify }}">
              <h2 class="contrast category-section">{{ category.name }}
                <a href="#{{ category.name | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
              </h2>
              {% for row in category.items %}
                <p id="{{ row.Indicator | slugify }}" class="chart-section">{{ row.Indicator }}
                  <a href="#{{ row.Indicator | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
                </p>
                <span class="indicator-value" id="value-{{ row.Indicator | slugify }}">{{ row.Citywide }}</span>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      
-->
    </div>
<!--
    
    {% for category in categories %}
      <h2 id="{{ category.name | slugify }}" class="contrast category-section">{{ category.name }}
        <a href="#{{ category.name | slugify }}" class="header-link"><i class="fa fa-link"></i></a></h2>
      {% for row in category.items %}
        <h5 id="{{ row.Indicator | slugify }}" class="chart-section">{{ row.Indicator }}
          <a href="#{{ row.Indicator | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
        </h5>
        <span class="indicator-value" id="value-{{ row.Indicator | slugify }}">{{ row.Citywide }}</span>
      {% endfor %}
    {% endfor %}
-->
    
  </div>
  </div>
</div>

<script>
  var container = document.querySelector('#map')
  var districtsGeojson = {{ site.data.planning_district_boundaries | jsonify }}
  var data = {{ site.data.planning_district | jsonify }}
  var labels = {{ site.data.planning_district_labels | jsonify }}
</script>
<script src="{{ site.baseurl }}/scripts/planning-districts.js"></script>

