---
layout: map
title: Planning Districts
permalink: /planning-districts/
---

<div class="row">
  <div id="map-wrapper">
    <div id="map" class="medium-8 column show-for-medium"></div>

    <div id="district-info" class="medium-16 small-24 column end">
    {% assign categories = site.data.planning_district | group_by: 'Category' %}
    {% assign labels = site.data.planning_district_labels %}
        <div id="selectors" class="medium-16 columns pln prm pvm">
          <!-- Dropdown to select district-->
          <div id="" class="district-selector medium-12 column prm pbs">
            <label for="planning-district">Choose a district</label>
            <select id="planning-district">
              <optgroup label="Planning Districts">
                {% for label in labels %}
                <option>{{ label }}</option>
                {% endfor %}
              </optgroup>
            </select>
          </div>
          <!-- Dropdown to select category-->
          <div id="" class="category-selector medium-12 column prm pbs">
            <label for="categories">Choose a category</label>
            <select id="categories">
              <optgroup label="Categories">
                {% for category in categories %}
                <option value="{{ category.name | slugify }}">{{ category.name }}</option>
                {% endfor %}
              </optgroup>
            </select>
          </div>
        </div>
      <div id="indicators" class="">
        <div id="top"></div>
    <!-- Loop over indicators, group by category and display cards-->
      <!-- Category Heading -->
        {% for category in categories %}
        <div class="row">
          <h1 id="{{ category.name | slugify }}" class="contrast{% if category.name == 'Social determinants of health' %} first-section{% else %} category-section{% endif %} columns">{{ category.name }}
            <a href="#{{ category.name | slugify }}" class="header-link"><i class="fa fa-link"></i></a></h1>
          </div>
          <div class="row equal-height">
            {% for row in category.items %}
            <!--@timwis: can't seem to get the line below to only append the class `end` for the last row in a category-->
            <div class="medium-8 small-12 column{% if row.Indicator | last %} end{% endif %}{% if row.Central ==  %} hidden{% endif %}" id="card-{{ row.Indicator | slugify }}">
              <div class="card equal">
                <div class="content-block">
                  <h1 class="indicator-value" id="value-{{ row.Indicator | slugify }}">
                    {% if row.dataType == 'Percentage' %}
                      {{ row.Central | times: 100 }}%
                    {% else %}
                      {{ row.Central }}
                    {% endif %}
                  </h1>
                  <h3 class="h2">{{ row.Indicator }}</h3><br>
                  {% if row.description %}<span class="source"><strong>Description: </strong></span>
				  <span class="description">{{ row.description | markdownify }}</span></p>{% endif %}
                  {% if row.chartComment %}<p class="source"><strong>Note: </strong><br>{{ row.chartComment }}</p>{% endif %}
                  {% if row.dataSource %}<p class="source"><strong>Source: </strong><br>
                    {{ row.dataSource }} {% if row.dataSourceYear %}| {{ row.dataSourceYear }}{% endif %}</p>
                  {% endif %}
                  <!-- <p><i class="fa fa-twitter fa-2x"></i></p> -->
                </div>
              </div>
            </div>
          {% endfor %}
          <!-- End of each chart section with BACK TO TOP link -->
          <div class="row">
            <div class="medium-24 column top">
              <a class="float-right" href="#top"> <i class="fa fa-arrow-up"></i><span class="to-top"> back to top</span></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
</div>

<script>
  var container = document.querySelector('#map')
  var districtsGeojson = {{ site.data.planning_district_boundaries | jsonify }}
  var data = {{ site.data.planning_district | jsonify }}
  var labels = {{ site.data.planning_district_labels | jsonify }}
  document.getElementById('categories').addEventListener('change', function (evt) {
    var value = this.value;
    window.location.hash = value;
  })
</script>
<script src="{{ site.baseurl }}/scripts/planning-districts.js"></script>
