---
layout: default
title: Racial Disparity
permalink: /racial-disparity/
---

<div class="row">
  <div class="medium-24 column">
    {% assign categories = site.data.racial_disparity | group_by: 'Category' %}
    {% assign labels = site.data.racial_disparity_labels %}

    {% for category in categories %}
    <h1 id="{{ category.name | slugify }}" class="contrast chart-section">{{ category.name }}</h1>

      {% for row in category.items %}
        <h2 id="{{ row.Indicator | slugify }}" class="chart-section">{{ row.Indicator }}
          <a href="#{{ row.Indicator | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
        </h2>
        {% if row.subTitle %}<p>{{ row.subTitle }}</p>{% endif %}
        <div class="row">
          <div class="medium-16 column">
            {% include components/bar.html row=row labels=labels %}
          </div>       
          <div class="medium-8 column end">
            <aside id="secondary" class="related plm-mu" role="complementary">
              {% if row.description %}<p class="description">{{ row.description }}</p>{% endif %}
              {% if row.chartComment %}<p>{{ row.chartComment }}</p>{% endif %}
              {% if row.dataSource %}<p class="source">Source: {{ row.dataSource }} | {{ row.dataSourceYear }}</p>{% endif %}
            </aside>
          </div>
        </div>  
        {% endfor %}
      {% endfor %}
    <a class="right" href="#top"> <i class="fa fa-arrow-up"></i> back to top</a>

    {% include svg2png.html %}
    
  </div>
</div>
