---
layout: default
title: Racial Disparity
permalink: /racial-disparity/
---
<style>
  /* BAR COLORS */
  svg > g:nth-child(2) > g > line:nth-child(1) {
    stroke: #f2e205;
  }
  svg > g:nth-child(2) > g > line:nth-child(2) {
    stroke: #f99300;
  }
  svg > g:nth-child(2) > g > line:nth-child(3) {
    stroke: #96c9ff;
  }
  svg > g:nth-child(2) > g > line:nth-child(4) {
    stroke: #a8bf12;
  }
  svg > g:nth-child(2) > g > line:nth-child(5) {
    stroke: #00aab5;
  }
</style>
<div class="row chart-section">
  <div class="medium-24 column">
    {% assign categories = site.data.racial_disparity | group_by: 'Category' %}
    {% assign labels = site.data.racial_disparity_labels %}

    {% for category in categories %}
    <h1 id="{{ category.name | slugify }}" class="contrast category-section">{{ category.name }}
      <a href="#{{ category.name | slugify }}" class="header-link"><i class="fa fa-link"></i></a></h1>

      {% for row in category.items %}
        <h2 id="{{ row.Indicator | slugify }}" class="chart-section">{{ row.Indicator }}
          <a href="#{{ row.Indicator | slugify }}" class="header-link"><i class="fa fa-link"></i></a>
        </h2>
    
        {% if row.subTitle %}<p>{{ row.subTitle }}</p>{% endif %}
        <div class="row">
          <div id="chartArea" class="medium-16 column">
            {% if row.dataType == 'Rate' or row.dataType == 'Count' %}
              {% include components/bar-rate.html row=row labels=labels %}{% else %}
              {% include components/bar.html row=row labels=labels %}
            <div id="img-out"></div>
            {% endif %}
          </div>       
          <div class="medium-8 column end">
            <aside id="secondary" class="related plm-mu" role="complementary">
              {% if row.description %}<p class="description">{{ row.description }}</p>{% endif %}
              {% if row.chartComment %}<p>{{ row.chartComment }}</p>{% endif %}
              {% if row.dataSource %}<p class="source"><strong>Source: </strong><br>
                {{ row.dataSource }} | {{ row.dataSourceYear }}</p>
              {% endif %}
              {% if row.dateUpdated %}
              <p class="updated"><strong>Data Updated:</strong><br>
                {{ row.dateUpdated }}</p>
              {% endif %}
<!--              <input type="button" id="share-button" class="button" value="Image">-->

            </aside>
          </div>
        </div> 
        <div class="medium-24 column top">
          <a class="float-right" href="#top"> <i class="fa fa-arrow-up"></i> back to top</a>
        </div>
        {% endfor %}
    
      {% endfor %}    
  </div>
</div>
