<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel='icon' type='image/x-icon' href="//cityofphiladelphia.github.io/patterns/images/favicon.ico">

  <link href="{{ site.baseurl }}/css/chartist.min.css" rel="stylesheet">
  <link href="https://rawgit.com/Globegitter/chartist-plugin-tooltip/master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!--pattern stylesheet includes foundation css -->
  <link rel="stylesheet" href="https://cityofphiladelphia.github.io/patterns/dist/1.3.0/css/patterns.css">

  <link href="{{ site.baseurl }}/css/custom.css" rel="stylesheet">

  <!--include chartist in <head> since it's used in the <body> before the footer-->
  <script src="{{ site.baseurl }}/vendor/chartist.min.js"></script>
  <!--TODO: switch these plugins to CDN-->
  <script src="https://rawgit.com/Globegitter/chartist-plugin-tooltip/master/dist/chartist-plugin-tooltip.min.js"></script>
  <script src="https://rawgit.com/gionkunz/chartist-plugin-accessibility/master/dist/chartist-plugin-accessibility.min.js"></script>

  {% if page.title == 'Planning Districts' %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <script src="{{ site.baseurl }}/vendor/mapbox.js"></script>
    <link rel="{{ site.baseurl }}/css/mapbox.css" />
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.js"></script>
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-label/v0.2.1/leaflet.label.css" rel='stylesheet' />
  {% endif %}
</head>
