  <header data-swiftype-index='false' class="site-header app" role="banner">
    <div class="row">
      <div class="small-24 columns">
        <a href="{{ site.baseurl }}/" class="logo">
          <img src="http://cityofphiladelphia.github.io/patterns/images/city-of-philadelphia-white.png">
        </a>
        <div class="page-title-container">
          <a href="{{ site.baseurl }}/">
            <h1 class="page-title">{{ site.title }}</h1>
            <h2 class="page-subtitle">{{ page.title }}</h2>
          </a>
        </div>
      </div>
    </div>
  <!--
    <div class="row">
      <div class="small-20 small-centered columns">
        <nav>
          <a class="button" href="#/">Button 1</a>
          <a class="button" href="#/">Button 2</a>
        </nav>
      </div>
    </div>
  -->
  </header>