<div class="row equal-height">
  <div class="medium-6 columns">
    <h2 class="h3 contrast">Geographic</h2>
    <a href="{{ site.baseurl }}/planning-districts/" class="card equal">
      <img src="{{ site.baseurl }}/assets/images/districts.png" alt="Planning Districts">
    <div class="content-block">
      <h3>Planning Districts</h3>
      <p>Analyzing the latest year of Philadelphia data by planning districts</p>
    </div>
    </a>
  </div>
  <div class="medium-6 columns">
    <h2 class="h3 contrast">Ethnographic</h2>
    <a href="{{ site.baseurl }}/racial-disparity/" class="card equal">
      <img src="{{ site.baseurl }}/assets/images/disparity.png" alt="Racial Disparity">
    <div class="content-block">
      <h3>Racial Disparity</h3>
      <p>Analyzing the latest year of Philadelphia data by race/ethnicity</p>
    </div>
    </a>
  </div>
  <div class="medium-6 columns">
    <h2 class="h3 contrast">Longitudinal</h2>
    <a href="{{ site.baseurl }}/citywide-over-time/" class="card equal">
      <img src="{{ site.baseurl }}/assets/images/time.png" alt="Citywide Over Time">
    <div class="content-block">
      <h3>Citywide Over Time</h3>
      <p>Looking at Philadelphia data over time, from 2000 to the present</p>
    </div>
    </a>
  </div>
  <div class="medium-6 columns">
    <h2 class="h3 contrast">Comparative</h2>
    <a href="{{ site.baseurl }}/top-10-cities/" class="card equal">
      <img src="{{ site.baseurl }}/assets/images/ten.png" alt="Top 10 Cities">
    <div class="content-block">
      <h3>Top 10 Cities</h3>
        <p>Comparing Philadelphia data to other large cities/counties</p>
      </div>
    </a>
  </div>
</div>
