<div class="row equal-height">
<div class="medium-6 columns">
<h2 class="h6 contrast">Geographic</h2>
<a href="/planning_districts.html" class="card equal">
<!--      <img src="/patterns/images/visit-to-penrose.jpg" alt="Mayor Kenney Visits Penrose">-->
<div class="content-block">
<h3>Planning Districts</h3>
<p>Analyzing the latest year of Philadelphia data by planning districts</p>
</div>
</a>
</div>
<div class="medium-6 columns">
<h2 class="h6 contrast">Ethnographic</h2>
<a href="/racial-disparity.html" class="card equal">
<!--      <img src="/patterns/images/visit-to-penrose.jpg" alt="Mayor Kenney Visits Penrose">-->
<div class="content-block">
<h3>Racial Disparity</h3>
  <p>Analyzing the latest year of Philadelphia data by race/ethnicity</p>
</div>
</a>
</div>
<div class="medium-6 columns">
<h2 class="h6 contrast">Longitudinal</h2>
<a href="/citywide-over-time.html" class="card equal">
<!--      <img src="/patterns/images/visit-to-penrose.jpg" alt="Mayor Kenney Visits Penrose">-->
<div class="content-block">
<h3>Citywide Over Time</h3>
  <p>Looking at Philadelphia data over time, from 2000 to the present</p>
</div>
</a>
</div>
<div class="medium-6 columns">
<h2 class="h6 contrast">Comparative</h2>
<a href="/top-10-cities.html" class="card equal">
<!--      <img src="/patterns/images/visit-to-penrose.jpg" alt="Mayor Kenney Visits Penrose">-->
<div class="content-block">
<h3>Top 10 Cities</h3>
  <p>Comparing Philadelphia data to other large cities/counties</p>
</div>
</a>
</div>
</div>