<!--from https://gist.github.com/gustavohenke/9073132-->

<script>
//  var svg = document.querySelector( "svg" );
//  var svgData = new XMLSerializer().serializeToString( svg );
//
//  var canvas = document.createElement( "canvas" );
//  var ctx = canvas.getContext( "2d" );
//
//  var img = document.createElement( "img" );
//  img.setAttribute( "src", "data:image/svg+xml;base64," + btoa( svgData ) );
//
//  img.onload = function() {
//  ctx.drawImage( img, 0, 0 );
//
//  // Now is done
//  console.log( canvas.toDataURL( "image/png" ) );
//  };


  function svg_to_png(container) {
    var wrapper = document.getElementById(container);
    var svg = wrapper.querySelector("svg");

    if (typeof window.XMLSerializer != "undefined") {
      var svgData = (new XMLSerializer()).serializeToString(svg);
    } else if (typeof svg.xml != "undefined") {
      var svgData = svg.xml;
    }

    var canvas = document.createElement("canvas");
    var svgSize = svg.getBoundingClientRect();
    canvas.width = svgSize.width;
    canvas.height = svgSize.height;
    var ctx = canvas.getContext("2d");

    var img = document.createElement("img");
      img.onload = function() {
      ctx.drawImage(img, 0, 0);
      var imgsrc = canvas.toDataURL("image/png");

      var a = document.createElement("a");
      a.download = container+".png";
      a.href = imgsrc;
      a.click();
    };
    
    img.setAttribute("src", "data:image/svg+xml;base64," + btoa(unescape(encodeURIComponent(svgData))) );

  }
  
</script>