{% assign id = include.row.Indicator | slugify %}
{% if page.title == 'Top 10 Cities' %}
  <div id="chart-{{ id }}" class="ct-chart ct-major-seventh"></div>{% else %}
  <div id="chart-{{ id }}" class="ct-chart ct-major-eleventh"></div>
{% endif %}
<script>
  (function () {
    var container = '#chart-{{ id }}'
    var labels = {{ include.labels | jsonify }}
    var row = {{ include.row | jsonify }}

    // Construct array of objects from data using indicators
    var series = labels.map(function (col) {
      return row[col] || null
    })
    var chartData = {
      labels: labels,
      series: [series]
    }
    var chartOpts = {
      low: 0,
      chartPadding: {
          right: 60
      },
      // onlyInteger: true,
      horizontalBars: true,
      // scaleMinSpace: 10,
      // seriesBarDistance: 15,
      axisY: {
        showGrid: false,
        offset: 120,
        // scaleMinSpace: 10,
        // seriesBarDistance: 35
      },
      axisX: {
        offset: 20,
        onlyInteger: true,
        labelInterpolationFnc: function (value) {
          return (+value).toLocaleString();
        }
      },
      plugins: [
        Chartist.plugins.tooltip({
          class: 'chartist-tooltip',
          tooltipFnc: function(_, value) {
            return (+value).toLocaleString();
          }
        }),
        Chartist.plugins.ctAccessibility({
          caption: {{ row.Indicator | jsonify }},
          seriesHeader: 'dimension',
          summary: {{ row.description | jsonify }},
          valueTransform: Chartist.noop
        })
      ]
    }
    var responsiveOpts = [
      ['screen and (min-width: 451px) and (max-width: 1024px)', {
        seriesBarDistance: 10 //,
        // axisX: {
        //   labelInterpolationFnc: function (value) {
        //     return value;
        //   }
        // }
      }],
      ['screen and (max-width: 450px)', {
        seriesBarDistance: 90,
        // scaleMinSpace: 90//,
        chartPadding: {
            right: 30
        },
        axisY: {
          scaleMinSpace: 15,
        //   labelInterpolationFnc: function (value) {
        //     return value[0];
        //   }
        }
      }]
    ]
  new Chartist.Bar(container, chartData, chartOpts, responsiveOpts)
  })()
</script>
