<div style="height: {{ include.height | default: 300 }}px">
  <script>
    AmCharts.makeChart(container(), {
      "type": "serial",
      "categoryField": "type",
      "theme": "light",
      "categoryAxis": {
        "gridPosition": "start",
        "autoWrap": true
      },
      "graphs": [
        {
          "type": "column",
          "fillAlphas": 0.7,
          "lineAlpha": 0,
          "valueField": "incidents",
          "balloonText": "<b>[[category]]</b><br>[[value]]"
        }
      ],
      "chartCursor": {
        "oneBalloonOnly": true,
      },
      "responsive": {
        "enabled": true
      },
      "dataProvider": {{ site.data.crimes_by_type | jsonify }}
    })
  </script>
</div>
