{% assign id = include.row.Indicator | slugify %}
<div id="chart-{{ id }}" class="ct-chart ct-major-eleventh"></div>
<script>
(function () {
  var container = '#chart-{{ id }}'
  var labels = {{ include.labels | jsonify }}
  var row = {{ include.row | jsonify }}

  // Construct array of objects from data using indicators
  var series = labels.map(function (col) {
    return row[col] || null
  })
  var chartData = {
    labels: labels,
    series: [series]
  }
  var chartOpts = {
    low: 0,
//    high: 1,
    onlyInteger: false,
    showArea: true,
    scaleMinSpace: 30,
    axisY: {
      labelInterpolationFnc: function (value) {
        // do whatever math operation you want here
        return Math.round(value * 1000) / 10 + '%';
      }
    },
    axisX: {
      showGrid: false //,
//      labelInterpolationFnc: function (value) {
//        return value.toString().slice(-2)
//      }
    },
    lineSmooth: Chartist.Interpolation.none({
      fillHoles: true, // connects line when missing data points
    }),
    plugins: [
      Chartist.plugins.tooltip({
        class: 'chartist-tooltip',
        tooltipFnc: function(_, value) {
          return Math.round(value * 1000) / 10 + '%';
        }
      }),
      Chartist.plugins.ctAccessibility({
        caption: '{{ row.Indicator }}',
        seriesHeader: 'year',
//        summary: '{{ row.description | escape}}',
        valueTransform: Chartist.noop
      })
    ],
  }
  var responsiveOpts = {
	  
  }

  new Chartist.Line(container, chartData, chartOpts)
})()
</script>
