<div style="height: {{ include.height | default: 300 }}px">
  <script>
    AmCharts.makeChart(container(), {
      "type": "serial",
      "categoryField": "month",
      "dataDateFormat": "YYYY-MM-DD",
      "theme": "light",
      "categoryAxis": {
        "gridPosition": "start",
        "minPeriod": "MM",
        "parseDates": true
      },
      "graphs": [
        {
          "fillAlphas": 0.7,
          "lineAlpha": 0,
          "valueField": "incidents",
          "balloonText": "<b>[[category]]</b><br>[[value]] incidents"
        }
      ],
      "chartCursor": {
        "categoryBalloonDateFormat": "MMM YYYY",
      },
      "responsive": {
        "enabled": true
      },
      "dataProvider": {{ site.data.crimes_by_month | jsonify }}
    })
  </script>
</div>
