<div style="height: {{ include.height | default: 300 }}px">
  <script>
    var crimesByDistrict = {{ site.data.crimes_by_district | jsonify }}
    var geojson = {{ site.data.police_districts | jsonify }}

    // Join geojson to data
    var hash = _.keyBy(crimesByDistrict, 'district')
    geojson.features.forEach(function (feature) {
      feature.properties.incidents = +hash[feature.properties.dist_numc].incidents || null
    })

    // Initialize map
    var map = L.map(container()).setView([39.9897471840457, -75.13893127441406], 10)

    // Add basemap
    L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/Canvas/World_Light_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ',
      maxZoom: 16
    }).addTo(map);

    // Add choropleth layer
    L.choropleth(geojson, {
      valueProperty: 'incidents',
      scale: ['white', 'red'],
      steps: 5,
      mode: 'q',
      style: {
        color: '#fff',
        weight: 2,
        fillOpacity: 0.8
      },
      onEachFeature: function(feature, layer) {
        layer.bindPopup(
          'District ' + feature.properties.dist_num + '<br>' + 
          (+feature.properties.incidents).toLocaleString() + ' incidents'
        )
      }
    }).addTo(map)
  </script>
</div>